# Terraform working directory
.terraform/

# State files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Saved plans
*.tfplan

# Sensitive variable files
*.tfvars

# CLI config
.terraformrc
terraform.rc
